topJournalData/abstracts/proceedings_of_the_national_academy_of_sciences_of_the_united_states_of_america[journal]/id_article/abstracttext_pubdate_year_pmid_articletitle_journal_title_keyword_doi/searchresults
